<?php declare(strict_types=1);

namespace Modules\{Module}\Interfaces\Resources;

use Illuminate\Http\Request;
use Illuminate\Http\Resources\Json\JsonResource;
use Modules\{Module}\Domain\Entities\{Entity};

/** @mixin {Entity} */
class {Entity}Resource extends JsonResource
{
    public function toArray(Request $request): array
    {
        /** @var {Entity} $entity */
        $entity = $this->resource;

        return [
            'id' => $entity->id,
        ];
    }
}
